@import "vars";
@import "sections/miscs";
@import "fonts";
@import "libs";

@import "sections/header";
@import "sections/footer";
@import "parts/small-card";
@import "parts/small-feedback";
@import "pages/index";
@import "pages/category";

::placeholder {
	color: #666;
}


::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

main, footer .content, .top_nav, .main_menu_content {
	max-width: 1600px;
	margin: 0 auto;
}

.wrapper {
	padding: 0 99px;
	position: relative;
}

img {
	max-width: 100%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

select {
	visibility: hidden;
}


@import "media"; // Always at the end
