<div class="col">
    <div class="small-feedback">
        <div class="photo-wrapper">
            <img class="photo" src="/img/face.jpg" alt="photo">
        </div>
        <span class="name">
            <i class="fab fa-instagram"></i>
            @delovery
        </span>
        <div class="text">
            <p>
                Спасибо ребятам за быструю доставку на нашу пижама-пати, потрясающую пиццу
                и хорошее настроение!
                Всё было по высшему разряду: вежливость, скорость, цена и вкус!
            </p>
        </div>
    </div>
</div>
