<div class="small-card">
    <div class="image">
        <img src="/img/product_small.jpg" alt="">
    </div>
    <div class="content">
        <span class="name">Спайси ролл</span>
        <span class="price">330 <i class="fas fa-ruble-sign"></i></span>
        <p class="structure">
            Состав: Рис, куриная грудка копченая, авокадо, спайс соус,
            айсберг, огурец свежий, сыр сливочный
        </p>
        <span class="weight">220г</span>
        <a href="#" class="btn">
            <i class="fas fa-shopping-cart" style="color: #ffffff;"></i>
            В КОРЗИНУ
        </a>
    </div>
</div>
