@import "../_mixins/rem";
@import "../vars";

footer {
  background-color: #333333;
  padding: 50px 100px;

  .content {
    display: flex;
    color: #999999;
    font-size: rem(24px);
    font-weight: 400;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-basis: 25%;

      .title {
        color: #ffffff;
        font-weight: 700;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }

      p {
        font-size: rem(24px);
        line-height: rem(30px);
      }
    }

    .socials {
      color: $accent;
      a {
        font-size: rem(40px);
        margin-right: rem(30px);
      }
    }
  }
}


