@import "../_mixins/rem";

.hamburger {
  .line {
    width: 50px;
    height: 5px;
    border-radius: 2px;
    background-color: #e5330f;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    .line {
      &:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
      }
    }

  }
}

.top_header {
  .top_nav {
    ul {
      margin: 0;
      padding: 0;
      padding-bottom: 6px;
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        position: relative;

        img {
          width: 95px;
        }

        a {
          color: #333;
          font-size: rem(22px);
          font-weight: 400;
        }

        .socials {
          font-size: rem(17px);
          position: absolute;
          right: 0;

          a {
            display: inline-block;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

a.small_cart {
  width: 172px;
  display: block;
  padding: 15px 30px 10px 16px;
  line-height: 20px;
  color: #e5330f;
  border: 1px solid #e5330f;
  background-color: #e5330f;

  .count {
    float: right;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
  }
}

.main_menu {
  padding: 10px 0 9px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  z-index: 2;

  .main_menu_content {
    justify-content: space-around;
    display: flex;

    a {
      display: flex;
      flex-wrap: wrap;
      flex-basis: 25%;

      svg {
        width: rem(85px);
        fill: #fff;
      }

      .img {
        text-align: center;
        width: 100%;
      }

      .title {
        width: 100%;
        color: #fff;
        font-size: rem(20px);
        font-weight: 700;
        text-align: center;
      }

      &:hover {
        transition: all .3s;
        text-decoration: none;

        svg {
          fill: #ccc;
        }

        .title {
          color: #ccc;
        }
      }

      &.active {
        svg {
          fill: #e5330f;
        }
      }
    }
  }
}

.main_banner {
  position: relative;
  z-index: 1;
  max-height: 699px;
  overflow: hidden;

  .title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    z-index: 2;
    top: 40%;
  }

  svg {
    width: 100%;
    height: 33px;
    fill: #fff;
    position: absolute;
    bottom: 0;
  }

  img {
    width: 100%;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
  }
}
