@import "../vars";
@import "../_mixins/rem";

.btn {
  text-align: center;
  background-color: $accent;
  color: #ffffff;
  font-size: rem(20px);
  font-weight: 700;
  padding: 7px 59px;
}

h2.title {
  text-align: center;
  color: #000000;
  font-size: rem(48px);
  line-height: rem(45px);
  font-weight: 400;
}

h3.sub-title {
  color: #000000;
  text-align: center;
  font-size: rem(24px);
  font-weight: 400;
}

.input_wrapper {
  position: relative;

  input {
    background-color: #ffffff;
    padding: 5px 10px;
    display: block;
    width: calc(100% - 60px);
    line-height: 48px;
    font-size: 20px;
    vertical-align: middle;
  }

  button {
    border: none;
    background-color: #e5330f;
    display: block;
    width: 60px;
    line-height: 58px;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;

    svg, i {
      vertical-align: middle;
      color: #fff;
    }
  }
}
