@@include('./parts/head.html')
@@include('./parts/header.html')

<main>
    <div class="wrapper">
        <div class="sort">
            <select class="js-example-basic-single" name="sort">
                <option value="AL">По категориям</option>
                <option value="WY">По цене</option>
            </select>
        </div>
        <section class="products-carousel">
            <h2 class="title">Роллы</h2>
            <div class="owl-carousel">
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
            </div>
        </section>
        <section class="products-carousel">
            <h2 class="title">Суши</h2>
            <div class="owl-carousel">
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
            </div>
        </section>
    </div>
</main>

@@include('./parts/footer.html')
