@@include('./parts/head.html')
@@include('./parts/header.html')

<main>
    <div class="wrapper">
        <section class="products-carousel">
            <h2 class="title">Лучшие предложения</h2>
            <div class="owl-carousel">
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
                @@include('./parts/items/small_card.html')
            </div>
        </section>
    </div>
    <section class="delivery-map">
        <div class="wrapper">
            <h2 class="title">Круглосуточная бесплатная доставка</h2>
            <h3 class="sub-title">при заказе от 500 рублей</h3>
            <div class="container-fluid">
                <div class="row">
                    <div id="delivery-map" class="col-8">
                        <img src="/img/map.jpg" alt="map"
                             style="height: 100%;">
                    </div>
                    <div class="col-4">
                        <label for="addr">Адрес доставки</label>
                        <div class="input_wrapper">
                            <input type="text" id="addr">
                            <button><i class="fas fa-location-arrow"></i></button>
                        </div>
                        <div id="delivery_time" class="delivery-time">
                            <div class="delivery-time-clock">
                                <img src="/img/timer.png" alt="timer">
                            </div>
                            <span class="delivery-time-text">
                                Доставка приедет к вам в течение 45 минут
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-clients">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title">Наши клиенты</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback-list">
        <div class="wrapper">
            <div class="container-fluid">
                <h2 class="title">Отзывы</h2>

                <div class="row">
                    @@include('./parts/items/small_feedback.html')
                    @@include('./parts/items/small_feedback.html')
                    @@include('./parts/items/small_feedback.html')
                </div>

                <div class="row justify-content-center">
                    <a href="#" class="btn">ОСТАВИТЬ ОТЗЫВ</a>
                </div>
            </div>
        </div>
    </section>

</main>

@@include('./parts/footer.html')
