@import "../_mixins/rem";
@import "../vars";

.small-card {
  border: 1px solid #cccccc;

  .image {
    img {
      max-width: 100%;
    }
  }

  .content {
    padding: 27px 20px 30px;

    .name {
      color: #333333;
      font-size: rem(24px);
      font-weight: 700;
      float: left;
    }

    .price {
      color: $accent;
      font-size: rem(36px);
      line-height: rem(45px);
      font-weight: 400;
      float: right;

      svg {
        font-size: rem(16px);
      }
    }

    .structure {
      clear: both;
      display: block;
    }

    .weight {
      display: block;
      text-align: right;
      font-size: rem(14px);
      font-weight: 400;
    }

    .btn {
      display: block;
      position: relative;
      margin-top: 10px;
      font-size: rem(18px);
      font-weight: 400;
      line-height: rem(30px);

      svg {
        position: absolute;
        left: rem(20px);
        top: rem(15px);
      }
    }
  }
}
