@import "../_mixins/rem";
@import "../vars";

.sort {
  float: right;
  margin-left: 100%;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  .select2-selection__rendered {
    color: #333333;
  }
  .select2-container .select2-selection--single {
    height: auto;
  }
}
