<footer>
    <div class="content">
        <ul>
            <h4 class="title">О нас</h4>
            <li><a href="#">Вакансии</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Мобильная версия</a></li>
            <br>
            <p>Доставляем пиццу, роллы, домашнюю кухню по Санкт-Петербургу с 2013
                года.</p>
            <span class="copyright">© pizzaservice.ru 2013-2019 </span>
        </ul>

        <ul>
            <h4 class="title">Информация</h4>
            <li><a href="#">Pizza Service <br> Никольское. <br> Советский пр, 227</a></li>
            <br>
            <span class="socials">
                <a href="#"><i class="fab fa-vk"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </span>
            <li>+ 7(495)-43-23</li>
            <li><a href="#">Заказать звонок</a></li>
        </ul>

        <ul>
            <h4 class="title">Доставка</h4>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Доставка на станциях метро</a></li>
            <br>
            <h4 class="title">Нашли ошибку на сайте?</h4>
            <li><a href="#">Сообщите нам об этом</a></li>
        </ul>

        <ul>
            <h4 class="title">Клиентам</h4>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Публичная оферта</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>
        </ul>
    </div>
</footer>


<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/libs/owlcarousel2/owl.carousel.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/js/common.js"></script>

</body>
</html>
