<header class="top_header">
    <nav class="top_nav">
        <ul>
            <li>
                <div class="hamburger" id="hamburger">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Условия доставки и оплаты</a></li>
            <li><a href="#"><img src="/img/logo.png" alt="logo"></a></li>
            <li><a href="#">О нас</a></li>
            <li>
                <a href="#">
                    <i class="fas fa-phone" style="color: #e5330f;"></i>
                    8-800-888-88-88
                </a>
                <span class="socials">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                </span>
            </li>
            <li>@@include('miscs/small_cart.html')</li>
        </ul>
    </nav>
    <nav class="main_menu">
        <div class="main_menu_content">
            <a href="#" class="active">
                <span class="img">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"
                     xml:space="preserve">
                    <path d="M57.5,24.9c0,3-0.1,5.9,0,8.9c0.1,3.4-1.5,5.7-4.3,7.4c-3.3,2-6.9,3.1-10.7,3.6c-3.8,0.5-7.5,0.4-11.3-0.2
            c-2.9-0.5-5.8-1.2-8.4-2.6c-2-1-3.8-2.3-5-4.2c-0.6-1-0.8-2.1-0.8-3.2c0-5,0-9.9,0-14.9c0-1.2,0.1-2.5,0-3.7
            c-0.2-2.7,1-4.6,2.9-6.3c2.1-1.7,4.5-2.8,7-3.6C30,5.3,32.9,5,35.9,4.9C40,4.7,44,5.1,48,6.3c2.8,0.8,5.4,2.1,7.5,4.2
            c1.3,1.4,2,3,2,4.9C57.4,18.6,57.5,21.7,57.5,24.9z M36.7,7.2c-2.7,0.1-5.8,0.6-8.8,1.8c-1.6,0.6-3.1,1.5-4.3,2.8
            c-1.8,1.9-1.8,4.2,0,6.1c1.6,1.7,3.6,2.8,5.9,3.4c3,0.9,6.1,1.2,9.3,1c3.6-0.2,7-0.8,10.1-2.8c1.1-0.7,2.2-1.4,2.8-2.6
            c1.1-2.1,0.5-4.3-1.3-5.8c-1.9-1.5-4.1-2.4-6.3-3C41.9,7.4,39.6,7.2,36.7,7.2z"/>
                    <path d="M59.7,24.9c0-2.9,0.1-5.8,0-8.7c-0.1-3.1,1.1-5.3,3.5-7.1c2.4-1.8,5.2-2.9,8.1-3.4c2.8-0.5,5.6-0.9,8.4-0.9
            c3.7,0,7.5,0.4,11.1,1.5c2.6,0.8,5,2,7,3.9c1.6,1.5,2.3,3.3,2.3,5.5c0,6.2,0,12.4,0,18.5c0,2.5-1.1,4.5-3,6
            c-2.2,1.7-4.7,2.8-7.3,3.5c-4.1,1.2-8.3,1.5-12.5,1.3c-2.2-0.1-4.4-0.7-6.5-1.1c-1.9-0.4-3.7-1.2-5.4-2.1c-1.9-1-3.6-2.2-4.7-4.1
            c-0.5-1-0.8-2.1-0.8-3.2C59.7,31.3,59.7,28.1,59.7,24.9C59.7,24.9,59.7,24.9,59.7,24.9z M79.8,7c0,0.1,0,0.1,0,0.2
            c-2.9,0-5.5,0.4-9,1.6c-2.1,0.7-4,1.9-5.3,3.8c-0.8,1.2-0.9,3.2,0,4.4c1.7,2.2,3.9,3.5,6.5,4.2c3.1,0.9,6.4,1.2,9.7,1
            c2.8-0.2,5.5-0.7,8.1-1.8c1.4-0.6,2.7-1.5,3.8-2.6c1.6-1.8,1.7-3.8,0.3-5.8c-0.4-0.6-1-1.1-1.6-1.5c-1.8-1.4-3.9-2.1-6.1-2.6
            C84,7.4,81.9,7.3,79.8,7z"/>
                    <path d="M20.7,87c-3.5,0-7,0-10.5,0c-2.1,0-4.1-0.5-5.8-1.8c-1.6-1.3-3-2.8-3.7-4.8C0.2,79,0,77.5,0,75.9c0-6.5,0-12.9,0-19.4
            c0-3.7,1.5-6.7,4.4-8.8C6,46.5,7.8,46,9.6,46c5.1,0,10.3,0,15.4,0c2,0,3.9,0,5.9,0c1.6,0,3.1,0.3,4.6,0.9c2.1,0.9,3.5,2.5,4.5,4.4
            c0.9,1.8,1.2,3.6,1.1,5.6c0,6.6-0.1,13.2-0.1,19.8c0,2.8-1,5.3-2.9,7.3c-1.7,1.8-3.8,2.7-6.3,2.9c-0.2,0-0.4,0-0.6,0
            c-3.5,0-7,0-10.6,0C20.7,87,20.7,87,20.7,87z M20.6,69c3.4,0,6.8,0,10.2,0c0.8,0,1.7-0.2,2.4-0.5c2-1,3-2.7,3-5c0-2.5,0-5.1,0-7.6
            c0-1.1-0.3-2.1-1-3c-1.1-1.5-2.7-2.2-4.6-2.2c-3.3,0-6.6,0-9.9,0c-3.5,0-7,0-10.5,0c-3.3,0-5.5,2.6-5.5,5c0,2.7,0,5.4,0,8.1
            c0,2.5,2.4,5.2,5.1,5.2c0.3,0,0.6,0,0.9,0C14.1,69,17.4,69,20.6,69z"/>
                    <path d="M66,87c-3.5,0-7,0-10.6,0c-5.3,0.1-9.8-4.4-10-9.5c-0.1-1.9,0-3.8,0-5.7c0-5.2,0-10.4,0-15.7c0-2.6,0.8-5,2.6-6.9
            c2-2.3,4.6-3.3,7.6-3.3c3.3,0,6.7,0,10,0c3.8,0,7.5-0.1,11.3,0c4.5,0.2,7.8,2.7,9.1,6.7c0.3,1,0.5,2.1,0.5,3.1c0,6.9,0,13.9,0,20.8
            c0,2.4-0.6,4.6-2.2,6.5c-2,2.3-4.5,3.6-7.5,3.7c-3.6,0.1-7.2,0-10.7,0C66,87,66,87,66,87z M66,69C66,69,66,69,66,69
            c3.4,0,6.8,0,10.2,0c1.9,0,3.4-0.7,4.5-2.3c0.8-1.1,1-2.3,1-3.7c0-2.3-0.1-4.7,0-7c0.1-2.4-1.9-4.9-4.6-5.2c-1-0.1-2-0.1-2.9-0.1
            c-6.1,0-12.2,0-18.3,0c-3.6,0-5.5,2.8-5.6,4.9c-0.1,2.8,0,5.5,0,8.3c0,2.1,2.1,4.7,4.5,4.9c0.6,0.1,1.2,0.1,1.8,0.1
            C59.6,69,62.8,69,66,69z"/>
                    <path d="M37.3,10.3c2,0,3.9,0.2,5.8,0.9c1.3,0.5,2.3,1.1,3.1,2.3c0.5,0.8,0.5,1.5,0.1,2.3c-0.5,0.9-1.2,1.6-2.2,2.1
            c-3.4,1.5-6.9,1.9-10.6,1c-1.4-0.4-2.9-0.7-4.1-1.7c-2-1.6-1.9-3.7,0.4-5.2c1.8-1.2,3.9-1.6,6.1-1.7C36.5,10.3,36.9,10.3,37.3,10.3
            z"/>
                    <path d="M78.9,19.3c-1.9-0.1-4.6-0.5-6.9-2.1c-2.3-1.5-2-3.8,0.2-5.2c1.8-1.2,3.9-1.7,6-1.7c1.5-0.1,3-0.1,4.4,0.1
            c2,0.3,4,0.8,5.5,2.4c1.3,1.3,1.3,2.6,0,3.9c-0.8,0.8-1.9,1.3-2.9,1.7C83.4,19,81.6,19.3,78.9,19.3z"/>
                    <path d="M20.6,65.4c-2.1,0-4.2,0-6.4,0c-1.9,0.1-3.5-1.3-3.4-3.4c0.1-1.6,0.1-3.2,0-4.8c-0.1-1.7,1.6-3.1,3.1-3.1
            c3.1,0,6.2,0,9.2,0c1.3,0,2.7,0,4,0c2,0,3.3,1.4,3.3,3.4c0,1.5,0,3,0,4.5c0,2.2-1.2,3.4-3.4,3.4C24.9,65.4,22.7,65.4,20.6,65.4
            C20.6,65.4,20.6,65.4,20.6,65.4z"/>
                    <path d="M65.9,65.4c-2.1,0-4.2-0.1-6.2,0c-2.2,0.1-3.7-1.7-3.6-3.6c0.1-1.5,0.1-3,0-4.4c-0.1-1.5,1.5-3.3,3.2-3.3
            c4.4,0,8.9,0,13.3,0c1.9,0,3.1,1.2,3.2,3c0.1,1.9,0.1,3.7,0,5.6c-0.1,1.4-1.2,2.6-2.6,2.6C70.7,65.4,68.3,65.3,65.9,65.4
            C65.9,65.4,65.9,65.4,65.9,65.4z"/>

    </svg>
                </span>
                <span class="title">ЯПОНСКАЯ КУХНЯ</span>
            </a>
            <a href="#">
                <span class="img">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"
                     xml:space="preserve">
                    <path d="M64.9,48.8c-6,0-11.9,0-17.9,0c-0.1,0-0.2,0-0.3,0c-0.2,0.1-0.6,0.2-0.7,0.4c-0.1,0.2,0.1,0.6,0.2,0.8
            c0.6,0.7,1.2,1.3,1.9,2c1.7,1.7,3.3,3.3,5,4.9c0.9,0.9,1.7,1.8,2.6,2.7c1,1,2,1.9,2.9,2.9c1.4,1.4,2.7,2.8,4,4.1
            c2.1,2.1,4.2,4.3,6.3,6.4c1,1,2,1.9,2.9,2.9c0.6,0.6,0.6,1,0,1.5c-1.4,1.2-2.8,2.3-4.2,3.4c-1.5,1.2-3.1,2.2-4.7,3
            c-1.4,0.7-2.8,1.3-4.3,1.8c-3.4,1.3-6.9,2-10.5,2.4c-2.8,0.3-5.6,0.2-8.4-0.3c-1.8-0.3-3.6-0.7-5.4-1.1c-1.3-0.3-2.5-0.8-3.7-1.3
            c-1.4-0.6-2.9-1.2-4.3-1.9c-2.1-1-4-2.4-5.7-3.9c-1.1-1-2.3-1.9-3.4-3c-2-2-3.8-4.1-5.2-6.6c-0.9-1.5-1.8-2.9-2.5-4.4
            c-1.1-2.2-1.8-4.6-2.4-7C6.2,54.8,5.9,50.9,6,47c0.2-4.3,1-8.5,2.5-12.5c1.6-4.3,4.1-8.1,7-11.7c1.6-2,3.5-3.8,5.6-5.2
            c1.9-1.3,3.7-2.6,5.7-3.7c1.1-0.7,2.4-1.1,3.6-1.6c2.9-1.2,6-2,9.1-2.5c2.2-0.3,4.4-0.6,6.6-0.4c2,0.1,4,0.4,6,0.7
            c2.7,0.4,5.2,1.2,7.7,2.3c1.3,0.6,2.7,1.1,3.9,1.8c1.6,0.9,3.1,1.9,4.5,3c1.1,0.8,2.2,1.6,3.2,2.6c1.4,1.4,2.7,2.8,4,4.3
            c2.9,3.4,4.8,7.3,6.4,11.4c1.2,3.1,1.8,6.4,2.2,9.7c0.1,0.8,0.1,1.6,0.2,2.4c0.1,1-0.3,1.4-1.2,1.4c-2.5,0-5.1,0-7.6,0
            C71.9,48.8,68.4,48.8,64.9,48.8C64.9,48.8,64.9,48.8,64.9,48.8z M50.3,68.1c-2.6,0-4.7,2.4-4.7,4.8c0,2.3,2,4.7,4.7,4.7
            c2.5,0,4.7-2.2,4.7-4.8C54.9,70.2,52.9,68.2,50.3,68.1z M21.5,68.3c-0.1,2.3,2.2,4.7,4.6,4.7c2.6,0,4.7-2.1,4.9-4.5
            c0.2-2.9-2.7-4.8-4.6-4.9C24.1,63.5,21.3,65.8,21.5,68.3z M12.4,42c-0.2,2.6,2.4,4.8,4.5,4.8c2.6,0,4.6-2.1,4.7-4.7
            c0.1-2.7-2.6-4.9-4.7-4.9C15,37.2,12.1,39.4,12.4,42z M50.2,26.3c2.8,0.1,4.7-2.1,4.8-4.5c0.1-2.6-2.1-4.7-4.6-4.8
            c-2.6,0-4.8,2.2-4.8,4.8C45.6,24,47.5,26.4,50.2,26.3z M40.6,60.9c-1.4,0-2.8,1.3-2.8,2.7c0,1.4,1.4,2.8,2.8,2.8
            c1.4,0,2.8-1.3,2.9-2.7C43.5,62.3,42.1,60.9,40.6,60.9z M32.8,29.7c1.6,0.2,2.7-1.5,2.7-2.7c0-1.4-1.4-2.8-2.7-2.7
            c-1.4,0-2.8,1.4-2.8,2.8C30,28.5,31.3,29.7,32.8,29.7z M64.7,29.6c0,1.5,1.2,2.6,2.6,2.7c1.4,0.1,2.8-1.6,2.7-2.7
            c-0.1-1.5-1.3-2.8-2.7-2.8C66.1,26.8,64.5,28.2,64.7,29.6z M35.4,41.9c0,1.5,1.2,2.7,2.7,2.8c1.3,0,2.7-1.3,2.7-2.7
            c0-1.3-1.4-2.7-2.7-2.7C36.7,39.3,35.4,40.6,35.4,41.9z M28.9,54.7c0-1.3-1.4-2.6-2.8-2.6c-1.4,0-2.6,1.3-2.6,2.7
            c0,1.6,1.4,2.6,2.6,2.7C27.6,57.4,28.9,56.1,28.9,54.7z M21.6,31.2c0.8,0,1.6-0.8,1.6-1.6c0-0.7-0.8-1.6-1.6-1.6
            c-0.8,0-1.7,0.8-1.7,1.5C20,30.4,20.8,31.2,21.6,31.2z M56.4,39.4c0-0.9-0.7-1.6-1.5-1.6c-0.8,0-1.5,0.8-1.5,1.6
            c0,0.8,0.7,1.5,1.5,1.5C55.7,40.9,56.4,40.3,56.4,39.4z"/>
                    <path d="M45.4,3.2c3.7,0.1,7.3,0.7,10.9,1.6C59.7,5.7,63,6.7,66,8.3c2.6,1.3,5,3,7.3,4.7c2.6,1.9,4.8,4.2,6.9,6.7
            c1,1.3,2.1,2.5,3,3.9c0.8,1.1,1.4,2.3,2,3.5c0.7,1.3,1.3,2.6,1.9,3.9c1,2.1,1.7,4.2,2.3,6.5c0.8,3.1,1.2,6.2,1.4,9.4
            c0,0.3,0,0.7,0,1c0,0.6-0.3,1-0.9,1c-0.6,0.1-1.1,0.1-1.7,0c-0.5,0-0.8-0.4-0.9-1c-0.1-0.5-0.1-1.1-0.1-1.6
            c-0.2-3.6-0.9-7.1-2-10.5c-0.7-2.3-1.6-4.5-2.8-6.5c-2.1-3.8-4.6-7.3-7.8-10.3c-2.1-2-4.2-3.8-6.6-5.3c-2.3-1.5-4.8-2.8-7.4-3.7
            c-1.3-0.5-2.6-1-3.9-1.4c-3-0.9-6.1-1.3-9.2-1.5C43.8,6.6,40.2,7,36.6,7.8C35,8.2,33.5,8.6,32,9.1c-1.7,0.6-3.3,1.3-4.9,2.1
            c-1.4,0.7-2.7,1.4-4,2.2c-1,0.6-2,1.4-3,2.1c-1.5,1.3-3,2.6-4.5,3.9c-0.9,0.9-1.8,1.9-2.6,2.9c-1.4,1.9-2.8,3.7-4,5.7
            c-1.6,2.8-3,5.8-3.7,9c-0.4,1.5-0.8,3-1.1,4.5c-0.3,1.7-0.5,3.4-0.6,5.1c-0.2,4.1,0.1,8.1,1.1,12c0.9,3.3,1.9,6.6,3.5,9.6
            c1.3,2.6,3,4.9,4.7,7.1c2.3,3,5.2,5.5,8.2,7.8c1.8,1.4,3.8,2.5,5.9,3.5c1.8,0.8,3.6,1.7,5.5,2.4c3.6,1.3,7.4,1.9,11.2,2.1
            c3.8,0.2,7.5-0.2,11.2-1c2.2-0.5,4.4-1.2,6.5-2.1c2-0.9,4-2,5.9-3c2.3-1.3,4.4-2.9,6.3-4.7c0.3-0.3,0.6-0.6,1-0.9
            c0.4-0.4,0.8-0.4,1.2,0c0.5,0.5,1,0.9,1.4,1.4c0.3,0.3,0.3,0.7-0.1,1.1c-1.1,1-2.1,1.9-3.3,2.8c-0.9,0.7-1.8,1.4-2.8,2.1
            c-2.3,1.6-4.7,3-7.4,4.1c-2,0.8-4,1.5-6,2.1c-2.4,0.7-4.8,1.3-7.3,1.4c-2.4,0.1-4.7,0.2-7.1,0.2c-3.7-0.1-7.3-0.7-10.8-1.9
            c-1.8-0.6-3.6-1.2-5.4-2c-1.4-0.6-2.8-1.3-4.1-2.1c-2.3-1.5-4.6-3.1-6.8-4.8c-1.3-1-2.3-2.2-3.4-3.3c-1.2-1.2-2.3-2.5-3.3-3.8
            c-1.5-2-2.8-4.1-4-6.3c-1.1-2.1-2.2-4.2-2.9-6.5c-1.1-3.5-1.9-7-2.1-10.6C0.2,52,0,50.5,0,49.1c0.1-3.9,0.5-7.7,1.4-11.4
            c0.6-2.5,1.3-5,2.5-7.3c1.4-2.7,2.8-5.4,4.6-7.9c2-2.9,4.5-5.4,7.1-7.8c1.1-1,2.3-1.9,3.5-2.7c2-1.3,4.1-2.6,6.1-3.8
            c1.9-1.1,4-1.8,6.1-2.5c2.9-1,5.9-1.6,8.9-2C41.9,3.4,43.7,3.4,45.4,3.2z"/>
                    <path d="M74,52.3c5.3,0,10.7,0,16,0c0.6,0,1.1,0,1.7,0c1-0.1,1.3,0.3,1.3,1.2c-0.2,2.2-0.3,4.4-0.9,6.6c-0.4,1.4-0.6,2.9-1.1,4.3
            c-0.6,1.8-1.4,3.6-2.2,5.3c-1,2.2-2.6,4.1-3.9,6.2c-0.7,1-1.6,2-2.4,2.9c-0.4,0.4-0.9,0.4-1.4,0c-0.6-0.6-1.2-1.2-1.8-1.7
            c-1.9-1.9-3.7-3.7-5.6-5.6c-0.6-0.6-1.2-1.3-1.9-1.9c-1.4-1.4-2.7-2.7-4.1-4.1c-0.8-0.8-1.6-1.7-2.5-2.5c-1.6-1.6-3.3-3.3-5-4.9
            c-1.5-1.5-3-3-4.6-4.5c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.2-0.2-0.4-0.1-0.6c0.1-0.1,0.3-0.3,0.5-0.3c1.3,0,2.6,0,3.9,0
            C64.6,52.2,69.3,52.2,74,52.3C74,52.2,74,52.2,74,52.3z M81.4,73c2.4,0,4.5-2,4.5-4.6c0.1-2.9-2.3-4.7-4.5-4.8
            c-2.4-0.1-4.8,2.2-4.8,4.6C76.6,70.6,78.7,73.1,81.4,73z M71.2,57.3c0,1.5,1.3,2.8,2.7,2.8c1.5,0,2.7-1.6,2.7-2.8
            c0-1.3-1.2-2.8-2.7-2.8C72.5,54.6,71.2,55.9,71.2,57.3z M62.3,54.7c0-0.8-0.7-1.4-1.6-1.4c-0.7,0-1.4,0.7-1.4,1.4
            c0,0.8,0.7,1.5,1.5,1.5C61.6,56.2,62.3,55.5,62.3,54.7z"/>
                    <path d="M98.2,52c0.3,0,0.5,0,0.8,0c0.7,0,1,0.4,1,1c0,0.6-0.1,1.3-0.2,1.9c-0.1,1.1-0.2,2.3-0.4,3.4c-0.5,2.3-1,4.6-1.6,6.9
            c-0.6,2.6-1.6,5-2.8,7.3c-0.8,1.6-1.7,3.1-2.7,4.5c-1.3,1.9-2.7,3.6-4.1,5.4c-0.4,0.5-0.8,0.9-1.2,1.3c-0.4,0.4-0.8,0.3-1.2,0
            c-0.4-0.4-0.9-0.9-1.3-1.3c-0.3-0.4-0.3-0.7,0-1.1c1.2-1.4,2.4-2.7,3.5-4.1c1.1-1.5,2.1-3,2.9-4.6c1-2,1.9-4.1,2.8-6.2
            c1.5-3.6,2.2-7.5,2.4-11.4c0-0.6,0-1.2,0.1-1.9c0-0.7,0.3-1,1.1-1.1C97.6,52,97.9,52.1,98.2,52C98.2,52.1,98.2,52,98.2,52z"/>

    </svg>
                </span>
                <span class="title">ПИЦЦА</span>
            </a>
            <a href="#">
                <span class="img">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"
                     xml:space="preserve">
                    <path d="M50.1,56c11.6,0,23.2,0,34.8,0c3.3,0,6.6,0,9.9,0c0.7,0,1.5,0,2.1,0.2c1.3,0.3,1.8,0.8,1.8,2.1c0.1,1.1,0,2.2-0.1,3.3
            c-0.1,1-0.8,1.7-1.9,1.9c-1.4,0.3-2.6-0.1-3.7-0.8c-0.4-0.2-0.8-0.5-1.1-0.8c-1-0.9-2.2-1.4-3.5-1.5c-0.8-0.1-1.6-0.1-2.4-0.2
            c-0.5,0-0.5,0-0.5,0.5c0,7.7,0,15.4,0,23.1c0,3.2-1.2,5.8-3.6,7.9c-1.9,1.6-4.1,2.4-6.6,2.4c-16.9,0-33.8,0-50.7,0
            c-4.9,0-9.1-3.5-10-8.3c-0.1-0.7-0.2-1.4-0.2-2.2c0-7.6,0-15.3,0-22.9c0-0.5,0-0.5-0.5-0.5c-1.4,0-2.9,0.1-4.2,0.6
            c-0.6,0.3-1.2,0.7-1.8,1.1c-1,0.8-2.1,1.4-3.3,1.6c-2,0.4-3.4-0.6-3.5-2.6c-0.1-0.9,0-1.9,0.1-2.8c0.2-1.3,0.9-1.9,2.2-2
            C4.3,56.1,5.1,56,5.9,56C20.6,56,35.4,56,50.1,56z M24.1,71.5c0-2.7,0-5.4,0-8.2c0-0.2,0-0.4,0-0.6c-0.2-1.5-1.8-2.4-3.1-1.8
            c-1,0.4-1.5,1.2-1.5,2.3c0,5.5,0,11,0,16.4c0,0.1,0,0.2,0,0.3c0.1,1.5,1.5,2.5,3,2.1c1-0.3,1.6-1.2,1.6-2.3
            C24.2,77,24.1,74.3,24.1,71.5z"/>
                    <path d="M53.1,42.5c0.2,0,0.4,0,0.6,0c7.2,0,14.4,0,21.6,0c3.8,0,6.7,1.7,8.8,4.8c0.8,1.2,1.2,2.5,1.4,3.8c0,0,0,0.1,0,0.2
            c-0.1,0-0.3,0-0.4,0c-23.3,0-46.6,0-70,0c-0.4,0-0.4-0.1-0.4-0.4c0.6-3.8,3.7-7.2,7.5-8.1c0.9-0.2,1.8-0.3,2.7-0.3
            c6.9,0,13.8,0,20.8,0c0.2,0,0.3,0,0.5,0c-0.2-0.7-0.3-1.3-0.5-1.9c-0.3-1.1-0.6-2.3-0.8-3.4c-0.3-1.5,0.2-2.5,1.6-3
            c0.3-0.1,0.7-0.2,1.1-0.2c1.4,0,2.8,0,4.2,0c0.9,0,1.7,0.4,2.3,1.1c0.5,0.6,0.6,1.3,0.4,2.1c-0.4,1.6-0.8,3.3-1.2,4.9
            C53.2,42.1,53.1,42.3,53.1,42.5z"/>
                    <path d="M46,5.9C47,6.6,48,7.3,49,8.1C49.7,8.5,50.3,9,51,9.5c0.1,0.1,0.2,0.2,0.1,0.3c-0.7,1.2-0.5,2.4-0.1,3.5
            c0.5,1.2,1,2.4,1.5,3.6c0.5,1.3,1,2.6,1.2,4c0.3,2.1-0.3,3.9-1.7,5.5c-1.1,1.3-2.4,2.3-3.7,3.2c0,0-0.1,0-0.2,0.1
            c-1.1-1.8-2.3-3.6-3.4-5.4c0.3-0.2,0.5-0.4,0.7-0.6c1.3-1.1,1.7-2.3,1.1-4c-0.4-1.1-0.9-2.1-1.3-3.1c-0.5-1.3-1-2.6-1.2-4
            c-0.3-2.1,0.2-4.1,1.2-5.9c0.1-0.2,0.3-0.5,0.4-0.7C45.8,6,45.9,5.9,46,5.9z"/>
                    <path d="M30.4,29.6c-1.1-1.8-2.3-3.6-3.4-5.4c0.3-0.2,0.6-0.4,0.8-0.6c1.2-0.9,1.6-2.2,1.2-3.6c-0.3-1-0.7-1.9-1.1-2.8
            c-0.6-1.3-1.1-2.7-1.4-4.1c-0.5-2.6,0.1-4.9,1.6-7C28,6,28,6,28,5.9c0,0,0,0,0.1,0c0.9,0.6,1.7,1.2,2.6,1.8
            c0.8,0.6,1.5,1.1,2.3,1.7c0.2,0.1,0.3,0.2,0.1,0.5c-0.5,0.8-0.5,1.6-0.3,2.4c0.4,1.2,0.9,2.4,1.4,3.6c0.6,1.4,1.2,2.9,1.5,4.4
            c0.4,2.3-0.1,4.3-1.6,6.1c-1.1,1.3-2.3,2.2-3.7,3.1C30.5,29.6,30.4,29.6,30.4,29.6z"/>
                    <path d="M61.6,24.2c0.3-0.2,0.6-0.4,0.8-0.6c1.3-1.1,1.6-2.3,1.1-3.8c-0.4-1.1-0.9-2.1-1.3-3.2c-0.7-1.5-1.2-3.1-1.3-4.8
            c-0.1-2.1,0.5-4,1.7-5.7C62.7,5.9,62.8,5.9,63,6c1.6,1.1,3.2,2.2,4.7,3.4c0.1,0.1,0.3,0.2,0.2,0.4c-0.6,1-0.5,2.1-0.2,3.2
            c0.4,1.1,0.9,2.2,1.4,3.3c0.6,1.4,1.2,2.9,1.5,4.4c0.3,2.2-0.3,4.1-1.7,5.8c-1,1.2-2.3,2.2-3.7,3.1c0,0-0.1,0-0.2,0.1
            C63.9,27.8,62.8,26,61.6,24.2z"/>

    </svg>
                </span>
                <span class="title">ДОМАШНЯЯ КУХНЯ</span>
            </a>
            <a href="#">
                <span class="img">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                     viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"
                     xml:space="preserve">
                    <path d="M22.6,18.1c-0.1-0.1-0.2-0.2-0.2-0.3c-2-1.9-4-3.9-6.1-5.8c-0.8-0.8-1.9-1.2-3-1.2c-3.5,0-7.1,0-10.6,0
            c-1.3,0-2.2-0.6-2.6-1.8c-0.5-1.5,0.7-3.2,2.3-3.3c3.8,0,7.7-0.1,11.5,0c2.2,0.1,4.2,0.9,5.8,2.5c3.3,3.2,6.6,6.3,9.9,9.5
            c0.2,0.2,0.5,0.3,0.8,0.3c16.7,0,33.5,0,50.2,0c1,0,1.9,0,2.8,0.4c1.5,0.6,1.9,1.7,1.3,3.2c-0.4,0.8-0.9,1.4-1.5,2
            c-8.5,8.9-17,17.9-25.5,26.8c-0.6,0.6-1.2,1.2-1.7,1.8c-0.8,0.8-1.8,1.5-2.9,1.8c-0.3,0.1-0.3,0.2-0.3,0.5c0,1.2,0,2.4,0,3.6
            c0,9.7,0,19.3,0,29c0,0.6,0,0.6,0.6,0.9c5,2.1,10.1,4.2,15.1,6.3c0.2,0.1,0.4,0.2,0.7,0.4c0.1,0.1,0.2,0.2,0.2,0.3
            c0,0.1-0.2,0.2-0.3,0.2c-0.2,0-0.3,0.1-0.5,0.1c-0.1,0-0.3,0-0.4,0c-11.6,0-23.1,0-34.7,0c-0.3,0-0.6,0-1-0.1
            c-0.1,0-0.3-0.1-0.3-0.2c0-0.1,0.1-0.3,0.2-0.3c0.6-0.3,1.1-0.6,1.7-0.8c4.5-2,9-3.9,13.5-5.9c0.2-0.1,0.3-0.2,0.3-0.4
            c0-0.1,0-0.2,0-0.4c0-10.8,0-21.6,0-32.5c0-0.4-0.1-0.6-0.5-0.8c-0.7-0.4-1.5-0.8-2.1-1.4C39,47,33,41.4,26.9,35.7
            c-4.5-4.1-9-8.3-13.4-12.4c-0.6-0.5-1.1-1.1-1.5-1.8c-1-1.6-0.4-2.9,1.5-3.2c0.7-0.1,1.4-0.2,2.1-0.2c2.2,0,4.4,0,6.6,0
            C22.3,18.1,22.4,18.1,22.6,18.1z"/>
                    <path d="M71.4,40.9c0.6-1.6,1.2-3.1,1.8-4.7c4.6,1.6,9.1,1.4,13.4-1c3.6-2,6.1-4.9,7.5-8.8c2.8-8.3-1.3-16.8-8.8-20
            c-2.1-0.9-4.3-1.3-6.6-1.3c-2.3,0-4.5,0.5-6.6,1.5c-2.1,1-3.9,2.3-5.4,4.1c-1.5,1.8-2.5,3.8-3.2,6c-1.3-0.4-2.5-0.7-3.7-1.1
            c-0.3-0.1-0.5-0.2-0.8-0.2c-0.3-0.1-0.3-0.2-0.2-0.4c0.7-2.1,1.6-4.1,2.9-5.9c2.5-3.5,5.7-6.1,9.8-7.6c3.3-1.2,6.7-1.7,10.2-1.2
            c7.7,1.1,13.2,5.2,16.6,12.2c1.5,3.1,2.1,6.5,1.9,10c-0.5,7.1-3.8,12.7-9.8,16.6c-2.3,1.5-4.7,2.4-7.4,2.9c-2.7,0.5-5.4,0.5-8-0.1
            c-1-0.2-2-0.5-3-0.8C71.6,41,71.5,40.9,71.4,40.9z"/>
    </svg>
                </span>
                <span class="title">БАР</span>
            </a>
        </div>
    </nav>
    <div class="main_banner">
        <img src="/img/main_banner.jpg" class="img-responsive" alt="main banner">
        <h1 class="title">
            БЫСТРАЯ ДОСТАВКА <br>ВКУСНАЯ ЕДА
            <br>

            <a href="#" class="btn">МЕНЮ</a>
        </h1>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
            <path class="st0" d="M1920,4c0,26,0,52,0,78C1280,82,640,82,0,82C0,56,0,30,0,4c10.1-0.3,18.2,4.3,25.7,10.5  c5.3,4.3,10.8,8.4,16.5,12c8.7,5.5,18.1,6.1,27,1.1c7.2-4,13.8-9.3,20.4-14.3c15.6-12,24.3-12.6,40.3-0.8  c5.5,4.1,10.6,8.6,16.2,12.5c9.8,6.9,20.4,8.5,30.9,2.2c7.5-4.5,14.3-10.2,21.4-15.5c13.6-10.2,23.6-10.3,37.1,0  c5.6,4.2,10.9,8.8,16.6,12.8c13.6,9.3,23.8,9.2,37.1-0.5c5.9-4.3,11.5-9.1,17.4-13.4c12.3-9.1,21.8-9.1,34.1,0.1  c4.7,3.5,9.2,7.1,13.7,10.8c14.8,12.4,26.2,13.2,42,2.2c7.1-4.9,13.6-10.7,20.7-15.6c8.7-6,17.8-6,26.6,0c4.7,3.2,9.2,6.6,13.5,10.3  c20.1,17.2,31.2,17.4,51.8,0.9c4.9-4,9.9-7.9,15.1-11.4c8.4-5.6,17.3-6,25.7,0c8.1,5.8,15.8,12.2,23.9,17.9  c8.9,6.2,18.8,8.5,28.5,2.5c8.2-5,15.6-11.2,23.3-17C639,1.1,648.2,1,661.7,11.2c6.4,4.8,12.4,10.1,18.9,14.7  c11.8,8.1,22.8,7.7,34.1-0.8c6.5-4.9,12.7-10.2,19.2-15.1c11.3-8.5,21.2-8.6,32.5-0.2c5.3,4,10.5,8.2,15.6,12.5  c13.7,11.6,25.7,12.4,40.3,2.1c7.6-5.4,14.6-11.6,22.2-16.9c7.2-5,15.4-6,23.1-1c6.4,4.1,12.6,8.7,18.3,13.8  c17,14.9,31.3,15.1,48.4,0.4c5-4.3,10.2-8.6,15.6-12.4c8.8-6.2,18-6.7,26.9-0.3c7.4,5.3,14.4,11.2,21.8,16.7  c12.4,9.3,24.2,9.4,36.7,0.1c5.9-4.4,11.3-9.3,17.2-13.6c14-10.5,23.7-10.2,37.3,1c5.3,4.3,10.5,8.7,16,12.8  c12.1,9,24.2,8.9,36.3-0.2c6.4-4.8,12.3-10.2,18.8-14.8c12.2-8.8,21.3-8.6,33.3,0.4c5.2,3.9,10.1,8.1,15.2,12.2  c14.2,11.5,25.4,12.1,40.3,1.6c5.7-4,10.9-8.8,16.3-13.1c12.1-9.7,22.6-10,34.9-0.7c4.1,3.1,8.1,6.4,12,9.8  c16.9,14.8,28.9,15.2,46.6,1.7c5.9-4.6,11.6-9.5,17.7-13.8c8.3-5.8,17.1-6.4,25.7-0.5c6.4,4.4,12.6,9.3,18.6,14.2  c16,13,28.8,13.1,44.8,0c4.9-4,9.8-8,14.8-11.8c11.3-8.5,21.2-8.5,32.5,0c6.2,4.7,12.2,9.8,18.4,14.5c13,9.7,24.5,9.7,37.5-0.1  c5.9-4.4,11.4-9.3,17.2-13.6c12.9-9.6,22.2-9.4,34.9,0.3c6.2,4.7,12.1,9.9,18.5,14.3c12.6,8.6,22,8.6,34.5-0.1  c8.1-5.6,15.5-12,23.6-17.6c8.1-5.6,16.7-5.5,24.8-0.1c5.7,3.8,11.2,7.9,16.3,12.3c17.4,15,29.6,15.5,47.5,1.3  c5.2-4.1,10.3-8.4,15.8-12.2c10.7-7.3,20-7.1,30.4,0.6c5.2,3.9,10.2,8,15.3,12.1c15,12.3,27.4,12.7,42.9,1.4  c0.8-0.6,1.5-1.3,2.3-1.9C1902.1,14.7,1909.7,7.3,1920,4z"/>
        </svg>
    </div>
</header>
